body {
  width: fit-content;
  background: linear-gradient(
    180deg,
    rgba(3, 56, 244, 0.71) 0%,
    rgba(224, 37, 206, 0.79) 93.75%
  );
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}

#content-wrapper {
  margin: 30px;
  font-family: 'Montserrat', sans-serif;
}
#content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
}
.side {
  border-radius: 10px;
  padding: 20px 15px 30px 15px;
}
#left-side {
  background: rgba(196, 196, 196, 0.3);
  color: #ffffff;
}
#left-side a {
  color: white;
}
#right-side {
  background: #ffffff;
  display: flex;
  flex-direction: column;
}
#right-side a {
  color: black;
}
.side-content {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-between;
  height: 100%;
}
#left-side.side-content {
  align-items: center;
}
header {
  display: grid;
  grid-template-columns: 1.2fr 3fr;
  height: 180px;
}
#name {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
#name h1 {
  margin: 20px 0;
  font-size: 35px;
  font-weight: 700;
}
#name h2 {
  margin: 0;
  font-size: 25px;
  font-weight: 500;
  color: #cecaca;
}
h2 {
  margin: 20px auto;
}
#photo {
  background: url('./assets/my_photo.jpg') no-repeat center center;
  border-radius: 50%;
  background-size: cover;
}
.title {
  font-size: 35px;
  text-align: center;
}

.contacts li,
.skills li,
.languages li,
#project-list label {
  background: rgba(196, 196, 196, 0.35);
  border-radius: 10px;
  padding: 8px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  transition: all 0.7s ease;
}
.contacts li:hover,
#project-list label:hover {
  background-color: rgba(130, 83, 239, 0.79);
}
.contacts li:hover a,
#project-list label:hover a,
#right-side a:hover,
footer a:hover {
  transition: all 0.7s ease;
  text-shadow: rgb(255, 0, 242) 1px 0 10px;
}
.contacts li div {
  display: inline-block;
}
.contacts_icon {
  height: 20px;
  width: 22px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-size: contain;
}
.location_icon {
  background-image: url('./assets/location.svg');
}
.call_icon {
  background-image: url('./assets/call.svg');
}
.mail_icon {
  background-image: url('./assets/mail.svg');
}
.gh_icon {
  background-image: url('./assets/gh.svg');
}
.in_icon {
  background-image: url('./assets/in.svg');
}

.skills ul {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
}
.skill-html {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
.skill-css {
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 2;
}
.skill-git {
  grid-column-start: 9;
  grid-column-end: 12;
  grid-row-start: 1;
  grid-row-end: 2;
}
.skill-js {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
.skill-ts {
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 3;
}
.skill-angular {
  grid-column-start: 9;
  grid-column-end: 12;
  grid-row-start: 2;
  grid-row-end: 3;
}
.skill-rxjs {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}
.skill-ngrx {
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row-start: 3;
  grid-row-end: 4;
}
.skill-mat {
  grid-column-start: 9;
  grid-column-end: 12;
  grid-row-start: 3;
  grid-row-end: 4;
}
.skill-react {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}
.skill-tailwind {
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row-start: 4;
  grid-row-end: 5;
}
.skill-matUI {
  grid-column-start: 9;
  grid-column-end: 12;
  grid-row-start: 4;
  grid-row-end: 5;
}
.skill-webpack {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 6;
}
.skill-vs {
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row-start: 5;
  grid-row-end: 6;
}
.skill-title {
  width: 100%;
  text-align: center;
}

#project-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
}
/* .project-lang {
  grid-column-start: 1;
  grid-column-end: 3;
} */

#project-list a {
  width: 100%;
  text-align: center;
}

ol {
  padding-left: 30px;
  margin: 0;
}
ol > li {
  padding-bottom: 15px;
}
ol a {
  text-decoration: none;
  color: rgb(62, 122, 179);
}
li {
  padding: 2px;
}
footer {
  text-align: center;
  margin-top: 40px;
}
#right-side footer {
  display: none;
}

@media (max-width: 1240px) {
  header {
    grid-template-columns: 1.8fr 3fr;
  }
}
@media (max-width: 1000px) {
  header {
    grid-template-columns: 1fr;
    height: fit-content;
    text-align: center;
  }
  #photo {
    height: 250px;
    width: 65%;
    margin: 0 auto;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  #name {
    margin-left: 0;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-bottom: 20px;
  }
  .skills ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
  }
  .skills li {
    grid-column-start: auto;
    grid-column-end: auto;
    grid-row-start: auto;
    grid-row-end: auto;
  }
}
@media (max-width: 780px) {
  #content {
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }
  .side {
    padding: 30px;
  }
  header {
    grid-template-columns: 3fr 1.8fr;
  }
  #photo {
    grid-row-start: auto;
    grid-row-end: auto;
    height: 235px;
    width: 100%;
  }
  #name {
    text-align: left;
  }
  #right-side footer {
    display: block;
  }
  #left-side footer {
    display: none;
  }
}
@media (max-width: 650px) {
  header {
    grid-template-columns: 1fr;
    height: fit-content;
    text-align: center;
  }
  #photo {
    height: 250px;
    width: 65%;
    margin: 0 auto;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  #name {
    text-align: center;
  }
}
@media (max-width: 450px) {
  #photo {
    width: 85%;
  }
}
