#content-wrapper {
    width: 85%;
    margin: 30px auto;
    border: 3px solid rgb(22, 53, 95);
    font-family: 'Smooch Sans', sans-serif;
    box-sizing: border-box;
}
#content {
    display: flex;
    flex-direction: row;
}
#left-side {
    display: flex;
    flex-direction: column;
    margin: 40px 40px 10px 40px;
    flex: 1 1 70%;
}
header {
    display: flex;
    flex-direction: row;
}
#name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px;
}
#name h1 {
    margin: 0;
    font-size: 45px;
}
#name h2 {
    margin: 0;
    font-size: 35px;
    font-weight: 300;
}
h2 {
  margin: 20px auto;
}
#photo {
    background: url("my photo.jpg") no-repeat center center;
    border-radius: 50%;
    height: 180px;
    width: 180px;
    background-size: cover;
}
main {
    display: flex;
    flex-direction: column;
}
main .title {
    text-align: center;
}
.title {
    font-size: 35px;
}
#project-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
#project-list a:hover {
    color: white;
    background-color: rgb(22, 53, 95);
}
#project-list label {
    display: block;
    flex-basis: 15%;
    margin-bottom: 5px;
}
#project-list a {
    display: inline-block;
    text-decoration: none;
    border: 2px solid black;
    color: black;
    background-color: rgba(62, 122, 179, 0.541);
    padding: 5px;
    width: 12vw;
    text-align: center;
    transition: all 0.7s ease 0.5s;
}
.aside {
    background-color: rgb(22, 53, 95);
    flex: 1 1 30%;
}
#aside-content {
    display: flex;
    flex-direction: column;
    margin: 40px; 
    color: white;
}
.description {
    font-size: 20px;
}
.description p {
  margin-top: 10px;
  margin-bottom: 0;
}
.description ul {
    list-style: none;
    padding: 0;
}
ol {
    padding-left: 10px;
    margin: 0;
}
ol > li {
    padding: 4px;
}
ol a {
    text-decoration: none;
    color: rgb(62, 122, 179);
}
li {
    padding: 2px;
}
.skill-container {
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 10px;
}
.skill-container * {
  background-color: rgb(62, 122, 179);
  height: 100%;
}
.skill-html {
    width: 80%;
}
.skill-css {
    width: 65%;
}
.skill-js {
    width: 55%;
}
.skill-ts {
    width: 45%;
}
.skill-wp {
  width: 40%;
}
/* .skill-react {
    width: 5%;
} */
.skill-git {
    width: 60%;
}
.skill-vs {
    width: 80%;
}
footer {
    height: 40px;
    text-align: center;
    margin-top: 40px;
}
footer a {
    color: black;
}
#aside-content a {
    color: white;
}

@media (max-width: 700px) {
    #project-list a {
        width: 35vw;
    }
}

@media (max-width: 450px) {
    #project-list a {
        width: 40vw;
    }
}

@media (max-width: 350px) {
    #project-list a {
        width: 55vw;
    }
}
