#content-wrapper {
    max-width: 1400px;
    margin: 30px auto;
    border: 3px solid rgb(22, 53, 95);
    font-family: 'Smooch Sans', sans-serif;
}
#content {
    display: flex;
    flex-direction: row;
}
#right-side {
    display: flex;
    flex-direction: column;
    margin: 40px 40px 10px 40px;
    flex: 1 1 70%;
}
header {
    display: flex;
    flex-direction: row;
}
#name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px;
}
#name h1 {
    margin: 0;
    font-size: 50px;
}
#name h2 {
    margin: 0;
    font-size: 40px;
    font-weight: 300;
}
#photo {
    background: url("my photo.jpeg") no-repeat center center;
    border-radius: 50%;
    height: 180px;
    width: 180px;
    background-size: cover;
}
main {
    display: flex;
    flex-direction: column;
}
main .title {
    text-align: center;
}
.title {
    font-size: 40px;
}
#project-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#project-list a:hover {
    color: white;
    background-color: rgb(22, 53, 95);
}
#project-list a {
    display: inline-block;
    text-decoration: none;
    border: 2px solid black;
    color: black;
    background-color: rgba(62, 122, 179, 0.541);
    padding: 5px;
    width: 150px;
    text-align: center;
    transition: all 0.7s ease 0.5s;
}
aside {
    background-color: rgb(22, 53, 95);
    flex: 1 1 30%;
}
#aside-content {
    display: flex;
    flex-direction: column;
    margin: 40px; 
    color: white;
}
.description {
    font-size: 25px;
}
.description ul {
    list-style: none;
    padding: 0;
}
ol {
    padding-left: 10px;
    margin: 0;
}
ol > li {
    padding: 4px;
}
ol a {
    text-decoration: none;
    color: rgb(62, 122, 179);
}
li {
    padding: 2px;
}
.skill-container {
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 10px;
}
.skill-html {
    width: 80%;
    background-color: rgb(62, 122, 179);
    height: 100%;
}
.skill-css {
    width: 70%;
    background-color: rgb(62, 122, 179);
    height: 100%;
}
.skill-js {
    width: 60%;
    background-color: rgb(62, 122, 179);
    height: 100%;
}
.skill-react {
    width: 10%;
    background-color: rgb(62, 122, 179);
    height: 100%;
}
.skill-git {
    width: 60%;
    background-color: rgb(62, 122, 179);
    height: 100%;
}
.skill-vs {
    width: 80%;
    background-color: rgb(62, 122, 179);
    height: 100%;
}
footer {
    height: 40px;
    text-align: center;
    margin-top: 40px;
}
footer a {
    color: black;
}
#aside-content a {
    color: white;
}
